.DS_Store
*.o
*.exe
*~
modest.pc
uninstal.mk
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/libmodest-dev.debhelper.log
debian/libmodest-dev.substvars
debian/libmodest-dev/
debian/libmodest.debhelper.log
debian/libmodest.substvars
debian/libmodest/
debian/tmp/
examples/myhtml/attributes_high_level
examples/myhtml/fragment_high_level
examples/myhtml/get_title_low_level
examples/myhtml/insert_in_appropriate_place_high_level
examples/myhtml/parse_without_whitespace
examples/myhtml/string_manipulate_high_level
lib/
test/mycore/utils/avl_tree
test/mycss/declaration
test/myencoding/encoding_detect_meta
test/myhtml/commoncrawl
test/myurl/url
test_suite/
